<div class="position-fixed top-0 right-0 d-flex flex-column"><%- include('partials/header') %></div>
<div
	class="text-secondary"
	style="
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-10%, -50%);
		font-size: 6rem;
	"
>
	<span class="fw-bold">&#8420;</span>
	<span class="fw-bold mx-5">&#9711;</span>
	<span class="fw-bold">&#8414;</span>
</div>
<%- include('partials/footer') -%>
